footer {
    background-color: black;
    position: fixed;
    bottom: 0;
    display: flex;
    padding: 30px 80px;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

h4 {
    color: white;
}


button {
    background-color: #474b48;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}