nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    padding: 10px 80px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.logo {
    width: 50px;
    height: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline;
    margin-right: 20px;
}

ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;


}


.buttons {
    display: flex;
    gap: 10px;
}

.buttons button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.buttons button:hover {
    background-color: #218838;
}



.active-link {
    color: #28a745;

    font-weight: bold;

}

.inactive-link {
    color: #333;

    text-decoration: none;
}